@model Menu

@{
  ViewData["Title"] = "Menü Ekle";
}

<h1>Menü Ekle</h1>
<hr />
<div class="row">
  <div class="col-md-12">
    <form asp-action="Ekle">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="Baslik" class="control-label"></label>
        <input asp-for="Baslik" class="form-control" />
        <span asp-validation-for="Baslik" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Ikon" class="control-label"></label>
        <input asp-for="Ikon" class="form-control" />
        <span asp-validation-for="Ikon" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="EkAlan" class="control-label"></label>
        <input asp-for="EkAlan" class="form-control" />
        <span asp-validation-for="EkAlan" class="text-danger"></span>
      </div>
      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" asp-for="AcilirMenuMu" /> @Html.DisplayNameFor(model => model.AcilirMenuMu)
        </label>
      </div>
      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" asp-for="Etkin" /> @Html.DisplayNameFor(model => model.Etkin)
        </label>
      </div>
      <div class="form-group">
        <input type="submit" value="Onayla" class="btn btn-primary" />
      </div>
    </form>
  </div>
</div>

<div>
  <a asp-action="Liste" class="btn btn-primary">Listeye Dön</a>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
