@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p>Kursun Adı: @ViewBag.kurs</p>
  <p>Eğitmen: @ViewData["Egitmen"]</p>
  <p>Yer: @TempData["Yer"]</p>

</div>
