@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>Kursun Adı: @ViewBag.kurs</p>
<p>Egitmen: @ViewData["Egitmen"]</p>
<p>Yer: @TempData["Yer"]</p>
